[submodule "backend/thirdparty/drogon"]
	path = backend/thirdparty/drogon
	url = https://github.com/drogonframework/drogon
[submodule "backend/thirdparty/aws-sdk-cpp"]
	path = backend/thirdparty/aws-sdk-cpp
	url = git@github.com:aws/aws-sdk-cpp.git
