[submodule "backend/thirdparty/json"]
	path = backend/thirdparty/json
	url = https://github.com/nlohmann/json/
[submodule "backend/thirdparty/drogon"]
	path = backend/thirdparty/drogon
	url = https://github.com/drogonframework/drogon
